{% extends 'admin/base.html.twig' %}

{% block title %}Create user{% endblock %}

{% block body %}
    <h2>Create user</h2>
    {% include 'admin/user/_form.html.twig' with {form: form} %}
{% endblock %}